# Performance Metrices for Pandas dataframe
<hr></hr>
<h3> Here in this code, we tend to measure the excution time of 4 methods</h3>
<hr></hr>

In [1]:
import pandas as pd
import timeit

In [3]:
cycles = 10

email_1 = 'splitted/emails_part_1.csv'
email_2 = 'splitted/emails_part_2.csv'
email_3 = 'splitted/emails_part_3.csv'
email_4 = 'splitted/emails_part_4.csv'
email_5 = 'splitted/emails_part_5.csv'
email_6 = 'splitted/emails_part_6.csv'


df1 = pd.read_csv('splitted/emails_part_1.csv') #  37  MB  --->  16278
df2 = pd.read_csv('splitted/emails_part_2.csv') #  79  MB  --->  32556
df3 = pd.read_csv('splitted/emails_part_3.csv') #  139 MB  --->  65112
df4 = pd.read_csv('splitted/emails_part_4.csv') #  331 MB  ---> 130225
df5 = pd.read_csv('splitted/emails_part_5.csv') #  599 MB  ---> 260450
df6 = pd.read_csv('splitted/emails_part_6.csv') # 1.08 GB  ---> 520901



dfs = [df1, df2, df3, df4, df5, df6]

file_paths = [
    'splitted/emails_part_1.csv',
    'splitted/emails_part_2.csv',
    'splitted/emails_part_3.csv',
    'splitted/emails_part_4.csv',
    'splitted/emails_part_5.csv',
    'splitted/emails_part_6.csv'
]


def average_time(myList):
    total_time_spark = 0
    for i in myList:
        total_time_spark += i
    avg_time = total_time_spark / cycles
    return avg_time

In [3]:

# Writing all the functions

In [4]:
df1.memory_usage(deep=True) / 1024 ** 2

Index       0.000122
Date        1.179817
From        1.232541
To          3.194295
Subject     1.361849
Cc          0.812857
Bcc         0.749489
Message    32.666543
dtype: float64

In [7]:
def memory_usage(df):
    return(round(df.memory_usage(deep=True).sum() / 1024 ** 2, 2))

print(memory_usage(df1))
print(memory_usage(df2))
print(memory_usage(df3))
print(memory_usage(df4))
print(memory_usage(df5))
print(memory_usage(df6))

41.2
86.27
155.03
358.92
657.89
1199.41

In [79]:

dd = pd.read_csv(email_2)
dd.head()

,Date,From,To,Subject,Cc,Bcc,Message
0,2001-09-14 14:05:43,fran.fagan@enron.com,lynn.blair@enron.com,FW: Promotions and Transfers- Gas Logistics,NaN,NaN,;;;;;NameNew TitleEffective DateMid Year promo...
1,2001-09-10 10:33:15,maggie.matheson@enron.com,randy.bryan@enron.com;robert.benningfield@enro...,Customer Training,bradley.holmes@enron.com;lynn.blair@enron.com,bradley.holmes@enron.com;lynn.blair@enron.com,;;;First I want to thank you for all of your h...
2,2001-08-20 12:34:19,sharon.brown@enron.com,e..anderson@enron.com;vicki.berg@enron.com;lyn...,Winter Ops - KC Hotel Information,julie.armstrong@enron.com;linda.wehring@enron....,julie.armstrong@enron.com;linda.wehring@enron....,;;Below listed is the contact information for ...
3,2001-07-05 08:35:29,lynn.blair@enron.com,sharon.brown@enron.com,Winter Ops Meeting,lynn.blair@enron.com;steven.january@enron.com;...,lynn.blair@enron.com;steven.january@enron.com;...,";;Sharon, could add the following company/pers..."
4,2001-07-26 08:16:14,sharon.brown@enron.com,larry.steward@enron.com;toby.kuehl@enron.com;l...,Draft - Winter Ops Agenda,ricki.winters@enron.com;alma.carrillo@enron.co...,ricki.winters@enron.com;alma.carrillo@enron.co...,;;Attached is a draft of the agenda for the Wi...

# Data Loading

In [80]:
# Read the CSV file
def read_csv(x):
    df = pd.read_csv(x)
    return df

# Measurement - read_csv
def read_time(dis):
    start_time = timeit.default_timer()
    dataframe = read_csv(dis)
    end_time = timeit.default_timer()
    return end_time - start_time

def measure_average_read_time(files, cycles=10):
    avg_times = []
    for file_path in files:
        timings_pandas = [read_time(file_path) for _ in range(cycles)]
        avg_time_pandas = average_time(timings_pandas)
        avg_times.append(avg_time_pandas)
    return avg_times

avg_times = measure_average_read_time(file_paths)

for i, avg_time in enumerate(avg_times, 1):
    print(f"Average read time for email_{i}: {avg_time:.5f} seconds")

Average read time for email_1: 0.28225 seconds
Average read time for email_2: 0.49697 seconds
Average read time for email_3: 0.93224 seconds
Average read time for email_4: 2.09893 seconds
Average read time for email_5: 3.80745 seconds
Average read time for email_6: 6.97936 seconds

# Filtering and Selection

In [81]:
# Filter and select

# sender to filter from : sharon.brown@enron.com  /  "john.arnold@enron.com"

def filter_and_select(df, sender=None):
    filtered_df = df.copy()
    if sender:
        filtered_df = filtered_df[filtered_df['From'] == sender]
    return filtered_df

# Measurement - Filter_csv
def filter_time(dis, sender):
    start_time = timeit.default_timer()
    dataframe = filter_and_select(dis, sender= sender)
    end_time = timeit.default_timer()
    return end_time - start_time

def measure_average_filter_time(files, sender, cycles=10):
    avg_times = []
    for file_path in files:
        timings_pandas = [filter_time(file_path, sender) for _ in range(cycles)]
        avg_time_pandas = average_time(timings_pandas)
        avg_times.append(avg_time_pandas)
    return avg_times


sender = "john.arnold@enron.com"
avg_times = measure_average_filter_time(dfs, sender)

for i, avg_time in enumerate(avg_times, 1):
    print(f"Average filter time for email_{i} with sender {sender}: {avg_time:.5f} seconds")

Average filter time for email_1 with sender john.arnold@enron.com: 0.00363 seconds
Average filter time for email_2 with sender john.arnold@enron.com: 0.00430 seconds
Average filter time for email_3 with sender john.arnold@enron.com: 0.00862 seconds
Average filter time for email_4 with sender john.arnold@enron.com: 0.01695 seconds
Average filter time for email_5 with sender john.arnold@enron.com: 0.03110 seconds
Average filter time for email_6 with sender john.arnold@enron.com: 0.06460 seconds

# GroupBy and Aggregation

In [82]:
# Group_by and Aggregage

def groupby_and_aggregate(df, groupby_column, agg_function):
    return df.groupby(groupby_column).agg(agg_function)

# GroupBy and aggregation example


#grouped_df = groupby_and_aggregate(df, groupby_column="From", agg_function={"Date": "count"})


# Measurement - Filter_csv
def groupby_and_aggregate_time(dis, groupby_column):
    start_time = timeit.default_timer()
    grouped_df = groupby_and_aggregate(dis, groupby_column=groupby_column, agg_function={"Date": "count"})
    end_time = timeit.default_timer()
    return end_time - start_time

def measure_average_groupby_aggregate_time(files, groupby_column):
    avg_times = []
    for file_path in files:
        timings_pandas = [groupby_and_aggregate_time(file_path, groupby_column) for _ in range(cycles)]
        avg_time_pandas = average_time(timings_pandas)
        avg_times.append(avg_time_pandas)
    return avg_times


groupby_column = "From"
avg_times = measure_average_groupby_aggregate_time(dfs, groupby_column)

for i, avg_time in enumerate(avg_times, 1):
    print(f"Average groupby and aggregation time for email_{i} with groupby column '{groupby_column}': {avg_time:.5f} seconds")

Average groupby and aggregation time for email_1 with groupby column 'From': 0.00398 seconds
Average groupby and aggregation time for email_2 with groupby column 'From': 0.00534 seconds
Average groupby and aggregation time for email_3 with groupby column 'From': 0.00937 seconds
Average groupby and aggregation time for email_4 with groupby column 'From': 0.01601 seconds
Average groupby and aggregation time for email_5 with groupby column 'From': 0.03041 seconds
Average groupby and aggregation time for email_6 with groupby column 'From': 0.05860 seconds

In [3]:
testadd = 'output/data1.csv'

test = pd.read_csv(testadd)
test.head()

,ug7v899j,-2.939983606338501,-6.312200546264648,-1.0459030866622925,5.164162635803223,-0.32564637064933777,-2.507413387298584,1.735608696937561,1.9363566637039185,0.622501015663147,...,-0.7419174313545227,3.3947110176086426,3.163691282272339,1.3728902339935303,-4.107113361358643,-3.8174145221710205,1.8976187705993652,5.811529159545898,-2.9323840141296387,0.30520474910736084
0,02tnwd4m,4.688466,-6.284460,1.228246,5.569900,5.224824,-0.406792,-2.296234,-4.276381,-0.781381,...,-0.850256,2.700679,-1.659213,-1.057281,-1.801275,0.276088,0.880289,4.176544,-5.686561,0.512474
1,ejv2xln0,0.559920,-6.754057,2.271945,7.644496,3.592816,-1.320622,-0.752549,1.384198,0.892751,...,2.043988,4.330732,-0.018087,4.812413,-2.565279,-2.131349,1.669153,4.521635,-2.847652,-1.536697
2,2b73a28n,2.352540,-3.997074,2.399774,4.594238,2.343638,1.867916,-3.466859,-3.148963,-0.073157,...,0.109116,3.492890,-3.039974,1.304383,-1.309967,-2.441383,-1.254180,-0.573785,-1.402024,3.922583
3,9785vg6d,-1.290922,-5.849864,1.557572,7.989901,5.805941,-4.537519,1.914945,-1.324861,0.861168,...,1.049299,1.902446,2.644630,1.695888,-2.386420,-3.247509,2.203239,4.226255,1.244299,-4.117685
4,zjufx4fo,2.721076,-0.431015,2.179080,6.504300,-0.202242,-0.894725,2.972502,-3.347002,-0.064544,...,-2.130265,0.783100,4.464694,4.126187,0.616837,-5.794294,3.973725,9.372234,-0.950782,-3.712291

#  Data Transformation

In [83]:
# Tranform measurement

def transform_data(df, column, transformation_function):
    return df[column].apply(transformation_function)

# Data transformation example / transformation_function
def uppercase_subject(subject):
    if isinstance(subject, str):
        return subject.upper()
    return subject


# Measurement - Filter_csv
def transform_data_time(dis, column):
    start_time = timeit.default_timer()
    dis["Subject"] = transform_data(dis, column, uppercase_subject)
    end_time = timeit.default_timer()
    return end_time - start_time

def measure_average_transform_data_time(files, column):
    avg_times = []
    for file_path in files:
        timings_pandas = [transform_data_time(file_path, column) for _ in range(cycles)]
        avg_time_pandas = average_time(timings_pandas)
        avg_times.append(avg_time_pandas)
    return avg_times


column = "Subject"
avg_times = measure_average_transform_data_time(dfs, column)

for i, avg_time in enumerate(avg_times, 1):
    print(f"Average data transformation time for email_{i} with column '{column}': {avg_time:.5f} seconds")

Average data transformation time for email_1 with column 'Subject': 0.00321 seconds
Average data transformation time for email_2 with column 'Subject': 0.00514 seconds
Average data transformation time for email_3 with column 'Subject': 0.01020 seconds
Average data transformation time for email_4 with column 'Subject': 0.02106 seconds
Average data transformation time for email_5 with column 'Subject': 0.04258 seconds
Average data transformation time for email_6 with column 'Subject': 0.08491 seconds